---
import Layout from "../layouts/Layout.astro";
import Blog from "../components/Blog.svelte";
const allPosts = Object.entries(
  import.meta.glob("./content/blog/*.md", { eager: true })
).map(([path, post]) => {
  if (typeof post === "object" && post !== null) {
    const slug = path?.split("/")?.pop()?.replace(".md", "") ?? "";
    return {
      ...(post as Record<string, any>),
      slug,
    };
  }
  return {};
});
---

<Layout title="Home">
  <h1>Hello!</h1>
  <p>My name is Madeline Marsh, but you can call me Maddy. I create art in various forms and this site is a hub for my body of work. Please take a look around, and feel free to email me with feedback, ideas, or business inquiries at maddymarshworks@gmail.com</p>
</Layout>
